<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <main>
        <section>
            <div class="login-main">
                <div class="login-in">
                    <p class="head">Admin Login</p>
                    <p class="head-sec">Please login to continue to your account</p>
                    {{if .error}}
                    <p class="error">{{.error}}</p>
                    {{end}}
                    <form action="/admin/login" method="post" class="form">
                        <input class="form-element" type="email" value="{{.Email}}" placeholder="Enter your email" required name="email"><br>
                        <input name="password" class="form-element" type="password" placeholder="Password" required
                            minlength="8" title="Password Must be at least 8 characters"><br>
                        <input class="lgn-btn" type="submit" value="Login  ">
                    </form>
                </div>
            </div>
            <div>
            </div>
        </section>
    </main>
</body>
</html>