<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <title>Home Page</title>
</head>

<body>
    <section>
        <div class="logout-sec"><a href="/logout" class="logout-btn">Logout &nbsp;<i class="fa-solid fa-right-from-bracket"></i></a></div>
        <div class="hm_sec">
            <h1 class="hm_head">Welcome {{.name}}</h1>
        </div>
    </section>
</body>

</html>